<div class="row">
    <div class="col-xl-4 col-lg-0 col-sm-0">

    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 text-center pt-5">
        <div class="logo p-5">
    <%=image_tag("logo.png")%>
    </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 p-5 text-center fw-bold">

    <h3 class="text-center"> Events This Month </h3>
    <hr>

    <% @events.each do |e| %>
        <% if e.eventstart > DateTime.now && e.eventstart < DateTime.now + 30.days %>
            <%= e.title%>
            <br>
            <%= e.eventstart.strftime('%b %d, %Y - %I:%M %p') %>
            <br>
            <hr>
        <% end %>
    <% end %>


    </div>
</div>

<div class="row">
    <h1 class="text-center fw-bold">HARMONY CLUB OF WORCESTER</h1>
</div>

<hr>

<div class="row">

    <div class="col-4">
            <%=image_tag("flag1.gif", class: "img-fluid")%>
    </div>

    <div class="col-4">
            <%=image_tag("flag2.gif", class: "img-fluid w-75 ms-4")%>
    </div>

    <div class="col-4">
            <%=image_tag("flag3.gif", class: "img-fluid")%>
    </div>

</div>

<hr>

<div class="row">

<p class="fs-6 fw-bold text-center mb-1">The Harmony Club of Worcester, Massachusetts is a fraternal organization of men and women of French descent that was organized in 1925.
 The Club holds monthly meetings at O'Connor's Restaurant in Worcester with guest speakers. The Club also sponsors other cultural/social/sport events, tours, adult and children's Christmas parties. 
 Members can participate in our golf league that takes place at Bed Rock Golf Club in Rutland, MA.</p>

 </div>

 <div class="row">

<p class="fs-6 fw-bold text-center mb-0 pb-5">Our major fund raiser is our "Bob Picard Memorial Golf Tournament" that is held at the Leicester Country Club in Leicester, MA every September. 
 The proceeds from this tournament are the sole funding of the scholarship and civic awards.</p>

 </div>