<h1 class="text-center p-3">Sections</h1>

<div class="row">
  <% @sections.each do |section| %>

    <div class="col-lg-4 d-flex justify-content-center">
      <div class="card text-center mb-3" style="width: 18rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Title: <%= section.title %></h5>
          <h5 class="card-title">Position: <%= section.position %></h5>
          <h5 class="card-title">Location: <%= section.location %></h5>
          <h5 class="card-title">Visible: <%= section.visible %></h5>
          <% if user_signed_in? %>
            <br>
            <%= link_to "Show this Section", section, class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
      </div>
  <% end %>
  </div>
  </div>
</div>