<div class="text-center">

<h1 class="p-3"><%= @section.title %></h1>
<h5> Location : <%= @section.location %></h5>
<h5> Visible? : <%= @section.visible %></h5>
<h5> Position : <%= @section.position %></h5>

<div>
    <%= link_to "Edit this section", edit_section_path(@section), class: "btn btn-warning mt-2" %>

    <%= button_to "Destroy this section", @section, method: :delete, class: "btn btn-danger mt-2" %>

    <%= link_to "Back to sections", sections_path, class: "btn btn-primary mt-2 mb-2" %>
</div>
</div>
