<div class="text-center">

<h1 class="p-3"><%= @sponsor.title %></h1>
<h5> Location : <%= @sponsor.website %></h5>

<div>
    <%= link_to "Edit this sponsor", edit_sponsor_path(@sponsor), class: "btn btn-warning mt-2" %>

    <%= button_to "Destroy this sponsor", @sponsor, method: :delete, class: "btn btn-danger mt-2" %>

    <%= link_to "Back to sponsors", sponsors_path, class: "btn btn-primary mt-2 mb-2" %>
</div>
</div>
