<div class="text-center">
<h1 class="p-3"><%= @page.title %></h1>

<p class="mb-0 p-1"> <%= @page.content.html_safe %> </p>

<% if @page.doc.attached? %>
    <%= @page.doc %>
<% end %>

<hr>
<div>
    <%= link_to "Edit this page", edit_page_path(@page), class: "btn btn-warning mt-2" %>

    <%= button_to "Destroy this page", @page, method: :delete, class: "btn btn-danger mt-2" %>

    <%= link_to "Back to pages", pages_path, class: "btn btn-primary mt-2 mb-2" %>
</div>
</div>
