<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '.tinymce',
    plugins: 'lists link image table code help wordcount'
  });
</script>

    
  </head>

  <body>

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background-color: #b22234;">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

      <li class="nav-item">
        <%= link_to"HARMONY CLUB OF WORCESTER", home_home_path, class:"btn fs-2 fw-bold text-light p-3" %>
      </li>

      <% if current_user %>
      <li class="nav-item d-flex font-weight-bold rounded text-light p-4">
        <%= link_to"Admin Panel", admin_panel_path, class:"btn btn-secondary" %>
      </li>
      <% end %>

      </ul>

      <li class="nav-item dropdown d-flex font-weight-bold rounded text-light p-3 ">
          <div class="nav-link dropdown-toggle col p-2 rounded" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #00075e;">
            Menu
          </div>


            <ul class="dropdown-menu text-center">
              <% Section.where(location: ["Main Navigation", "Both"]).each do |s| %>
               <% if s.visible == true %>
                  
                  <li>
                      <a class="dropdown-item border-bottom" href="#">
                      <%=s.title %> &raquo;
                      </a>
                      <ul class="dropdown-menu dropdown-submenu">


                    <% s.pages.each do |p| %>
                        <li>
                          <% if p.page_type == "External URL" %>
                            <%= link_to p.title, p.destination, class: "btn w-100 border-bottom", target: :_blank %>
                          <% end %>

                          <% if p.page_type == "Basic Page" %>
                            <a> <%= link_to p.title, p, class:"btn w-100 border-bottom" %></a>
                          <% end %>

                          <% if p.page_type == "PDF" %>
                            <a> <%= link_to p.title, p, class:"btn w-100 border-bottom" %></a>
                          <% end %>

                          <% if p.page_type == "Internal URL" %>
                            <a> <%= link_to p.title, p.destination, class:"btn w-100 border-bottom" %></a>
                          <% end %>
                        </li>
                      <% end %>
                  </ul>
                  </li>
                <% end %>
              <% end %>
              
              

            <li>
            <a class=dropdown-item" href="#"> <%= link_to "Calendar", web_events_calendar_path, class: "btn w-100 border-bottom" %> </a>
            </li>

            <li>
            <a class=dropdown-item" href="#"> <%= link_to "Sponsors", sponsors_path, class: "btn w-100 border-bottom" %> </a>
            </li>

            <li>
            <a class=dropdown-item" href="#"> <%= link_to "Gallery", web_photos_index_path, class: "btn w-100 border-bottom" %> </a>
            </li>
            
  
              <% if current_user %>
            <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link mt-1" %>
              <% else %>
                <%= link_to "Sign In", users_path, class: "nav-link mt-1" %>
            <% end %></a>
            </li>
          </ul>
      </li>


      

    </div>

    
  </div>

  
</nav>

  <div class="container bg bg-light mb-0" id="pagecon">
    <%= yield %>
  </div>

  <div class="footer text-light mt-0" style="background-color: #b22234;">

    <div class="container text-center">
        <%= link_to"HARMONY CLUB OF WORCESTER | 2023", home_home_path, class:"btn fw-bold text-light mb-0" %>
    </div>


<div class="row">

                    <% Section.where(location: ["Footer", "Both"]).each do |s| %>
                    <% if s.visible == true %>
                    <div class="col-3">

                        <h5><%= s.title %></h5>
                          <% s.pages.each do |p| %>

                                <% if p.page_type == "External URL" %>
                                  <%= link_to p.title, p.destination, class: "btn w-100 text-light", target: :_blank %>
                                <% end %>

                                <% if p.page_type == "Basic Page" %>
                                  <a> <%= link_to p.title, p, class:"btn w-100 text-light" %></a>
                                <% end %>

                                <% if p.page_type == "PDF" %>
                                  <a> <%= link_to p.title, p, class:"btn w-100 text-light" %></a>
                                <% end %>

                                <% if p.page_type == "Internal URL" %>
                                  <a> <%= link_to p.title, p.destination, class:"btn w-100 text-light" %></a>
                                <% end %>

                            <% end %>
                    </div>
                      <% end %>
                    <% end %>        
        
                  </li>

  </div>

  <div class="col-5">

  </div>


</div>
  
  </div>

  </body>
</html>